.minion-card {
  margin-top: 10px;
  width: 200px;  /* Set card width */
  height: 300px; /* Set card height */
  display: flex;  /* Enable flexbox for column layout */
  flex-direction: column;
  align-items: center;  
  outline: 2px solid rgb(100, 100, 100);

  .minion-image{
    margin-top: 28px;
    img{
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
  }
}

.minion-info {
  text-align: center;

  .p{
    font-weight: bold;
  }
  
  .minionemail{
    font-size: 12px;
  }

  .minionbtn{
    margin-top: 15px;
  }
}
